 .my_table{
 	font-size:16px;
 },
 .my_tr{
 	background-color:red;
 },
 .my_td{
 	opacity:1;
 },
 #someId{
 	color:blue;
 	padding:10px;
 	margin:0 auto;
 },
 body{
 	display:none;
 	background-color:black;
 },